* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	background-image: url(/img/background2.jpg);
	/* background-size: 100%; */
	background-size: cover;
	overflow: hidden;
}

#explanation {
	position: absolute;
	bottom: 35px;
	right: 110px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Arial';
	/*text-shadow: 0 0 .2em #000;*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#qr {
	position: absolute;
	right: 0;
	bottom: 0;
}

@font-face {
    font-family: 'BadaBoomBBRegular';
    src: url('/font/badabb__-webfont.eot');
    src: url('/font/badabb__-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/badabb__-webfont.woff') format('woff'),
         url('/font/badabb__-webfont.ttf') format('truetype'),
         url('/font/badabb__-webfont.svg#BadaBoomBBRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PressStart2PRegular';
    src: url('/font/pressstart2p-webfont.eot');
    src: url('/font/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/pressstart2p-webfont.woff') format('woff'),
         url('/font/pressstart2p-webfont.ttf') format('truetype'),
         url('/font/pressstart2p-webfont.svg#PressStart2PRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#timer {
	position:absolute;
	font-family:BadaBoomBBRegular;
	letter-spacing:3px;
	margin-top:20px;
	font-size:50px;
}
.playerLabel {
	position:absolute;
	font-size:15px;
	color:#fff;
	font-family:PressStart2PRegular;
}
		

