* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	background-image: url(/img/background2.jpg);
	/* background-size: 100%; */
	background-size: cover;
}

#explanation {
	position: absolute;
	bottom: 35px;
	right: 110px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Arial';
	/*text-shadow: 0 0 .2em #000;*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#qr {
	position: absolute;
	right: 0;
	bottom: 0;
}

