<h2>(<%= onlineplayers %>) online players!</h2>

<section id="host_game">
	<form action="/game/create" method="post">
		<h2>Host a new game</h2>
		<label>Name</label>
		<input type="text" name="name" />
		<input type="submit" value="Create!" />
	</form>
</section>
<section id="join_game">
	<form action="/game/join" method="post">
		<h2>Join a game</h2>
		<label>Name</label>
		<input type="text" name="name" />
		<input type="submit" value="Join!" />
	</form>
</section>
<section id="game_list">
	<h2>50 Most active games</h2>
	<table>
   		<thead>
   			<tr>
   				<td>Game</td>
   				<td># Players</td>
   			</tr>
   		</thead>
   		<tbody>
   		<% for(var h=0; h<hosts.length;h=h+2) { %>
   			<tr>
   				<td><a href="/play/<%= hosts[h] %>" target="_blank"><%= hosts[h] %></a></td>
   				<td><%= hosts[h+1] %></td>
   			</tr>
   		<% } %>
   		</tbody>
   	<table>
</section>
